    <div class="container">
      <p><a class="btn" href="/dicom">Back to Listing</a><a class="btn" href="/dicom/<%= params[:cryptographic_hash] %>/file/<%= params[:cryptographic_hash] %>.dcm">Download</a></p>
      <p><%= image %></p>
      <code><pre><%= metadata %></pre></code>
    </div> <!-- /container -->
