    <div class="container">

      <h1>Bibliotecas e Frameworks</h1>

      <h2>ruby-dicom</h2>
      <p>Library for reading, editing and writing DICOM files, as well as handling DICOM network communication.</p>

      <h2>Bootstrap from Twiter</h2>
      <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</p>

      <h2>Sinatra</h2>
      <p>Sinatra is a free and open source software web application library and domain-specific language written in Ruby. It is an alternative to other Ruby web application frameworks such as Ruby on Rails, Merb, Nitro and Camping.</p>

      <hr>

      <h2>Current external IP address</h2>
      <h3><%= `ip addr`.each_line.map { |line|
        line[/inet (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\//, 1]
      }.select { |ip|
        ip != '127.0.0.1'
      }.compact.join(', ') %></h3>

      <h2>Ports</h2>
      <h3>9393: RESTful<br>11112: DICOM SCP</h3>

      <hr>

      <h2>DICOM, HL7, IHE, RTPConnect</h2>
      <p><a href="http://www.ijri.org/article.asp?issn=0971-3026;year=2007;volume=17;issue=2;spage=66;epage=68;aulast=Indrajit">Indrajit I K, Verma B S. DICOM, HL7 and IHE: A basic primer on Healthcare Standards for Radiologists. Indian J Radiol Imaging 2007;17:66-8</a>
      <br>
      http://www.ijri.org/article.asp?issn=0971-3026;year=2007;volume=17;issue=2;spage=66;epage=68;aulast=Indrajit</p>
      <p>Table - 1</p>
      <p><img src="/IndianJRadiolImaging_2007_17_2_66_33610_1.jpg"></p>

      <p>Digital Imaging and Communications in Medicine é o modelo originado e publicado pela primeira vez em 1985, sendo sua primeira versão o ACR-NEMA version 1,0. Atualmente o DICOM é administrado por um comitê composto por praticamente todos os maiores fabricantes de equipamentos para imagem diagnóstica e pelas maiores instituições médicas e científicas em todo o mundo.</p>

      <p>RTPConnect: formato "propietário" da Mosaiq para DICOM RTPlan IOD (Radiotherapy Plan Information Object Definition).</p>
      <p><a href="http://www.elekta.com/healthcare-professionals/products/elekta-software/radiation-oncology.html">Site oficial do vendedor do Mosaiq</a>
      <br>
      http://www.elekta.com/healthcare-professionals/products/elekta-software/radiation-oncology.html</p>

      <p>Nos primórdios da tomografia computadorizada, nos anos 70, a utilização de imagens digitais no ambiente hospitalar tornou–se imprescindível para a realização de diagnósticos mais seguros, sendo esse avanço possível graças ao aprimoramento tecnológico de várias modalidades diagnósticas.</p>
      <p>O SIH, também conhecido como sistema de informações digitais, abriga um extenso conjunto de informações digitais, as quais abrangem dados financeiros, gerenciais, informações de pacientes (PEP – Prontuário eletrônico do paciente e RIS – Radiology Information System). Em razão da tecnologia utilizada, as imagens médicas são interpretadas como um sistema à parte, e são planejadas e arrumadas em sistema de envio e arquivamento de imagens médicas chamado de PACS - Picture archiving and communication system.</p>
      <p>Os PACS são sistema que proporcionam o compartilhamento de imagens e permite que informações de pacientes sejam compartilhadas e visualizadas em monitores de alta resolução, distribuídos em lugares distintos, através de um sistema que proporciona o armazenamento e comunicação de imagens geradas por equipamentos médicos utilizados em tomografia computadorizada, ressonância magnética, ultrassom, raio–x, entre outros.</p>
      <p>Dentre as estruturas do PACS estão:</p>
      <ul>
        <li>Dispositivos de entrada, para inserção dados</li>
        <li>Rede de computadores</li>
        <li>Servidor de DICOM</li>
        <li>Integração entre o RIS e o HIS</li>
        <li>Dispositivos de saída, para obtenção de dados</li>
      </ul>
    </div> <!-- /container -->